h1 {
  text-align: center;
}

.well {
  border-style:solid;
  padding: 10px;
  border: 1px solid darkgray;
  width: 85%;
  display: block;
  margin: 0 auto;
}

#dice-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  margin-top: 10px;
}

.user1,
.user2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 20px;
}

#user1,
#user2 {
  border: 3px solid red;
}

label {
  margin-top: 10px;
}
